body{
    background-color: #dcdde2;
    text-align: center;
}

#cabecera{
    display: flex;
    padding: 0.8rem 20rem;
    background-color: #b7ced2;
}

#cabecera div *{
    margin: 0.25rem;
}

#cabecera div{
    width: 30vw;
    vertical-align: auto;
    color: black;
}

#resultado{
    font-size: 1.5rem;
}